
html {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding: 2rem;
}
h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -1.25rem;
}

/*.blending span {
  mix-blend-mode: multiply;
}*/
.blending span:nth-child(1) {
  color: #AB1795;
}
.blending span:nth-child(2) {
  color: #167CFB;
}
.blending span:nth-child(3) {
  color: #37D86E;
}
.blending span:nth-child(4) {
  color: #DA7C5F;
}
.blending span:nth-child(5) {
  color: #B020AD;
}
.blending span:nth-child(6) {
  color: #1685FB;
}
.blending span:nth-child(7) {
  color: #D4FEA1;
}
h2:not(:first-child) {
  margin-top: 50px;
}
.screencap {
  width: 320px;
}
